.billhistory-container {
    margin-top: 30px;
    width: 80vw; /* Ensure responsiveness */
    max-width: 80vw;
    max-height: 95vh;
    overflow: auto;    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}
.billhistory-container::-webkit-scrollbar {
   width: 0.5px;
}

.billhistory-order-item {
    border-radius: 8px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    row-gap: 10px;
    min-width: 80vw;
    align-items: center;
}

.billhistory-order-item:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.billhistory-order-summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
    min-width: 77vw;
    max-width: 77vw;
}

.billhistory-order-summary:hover {
    background-color: #e2e2e2;
}

.order-products {
    padding: 15px;
    border-top: 1px solid #ddd;
    background-color: #fff;
    animation: expand 0.3s ease-in-out;
}
.billhistory-product-summary{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
    min-width: 75vw;
    max-width: 75vw;
    margin-top: 5px;
}

.product-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    min-width: 78vw;
    max-width: 78vw;
    height: 20px;
}

.product-item:last-child {
    border-bottom: none;
}

/* Transition for the expand/collapse effect */
@keyframes expand {
    from {
        max-height: 0;
        opacity: 0;
    }
    to {
        max-height: 500px;
        opacity: 1;
    }
}

/* Accessibility focus styles */
.order-summary:focus {
    outline: 2px solid #007bff;
}

@media (max-width: 768px) {
    .order-summary,
    .product-item {
        font-size: 12px;
    }

    .order-summary span, 
    .product-item span {
        display: block;
        width: 100%;
        text-align: left;
    }
}
