  .container {
    display: flex;
   /* grid-template-columns: 1.5fr .5fr;*/
  }
  
  .order-section{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1.5fr .5fr;
    column-gap: 10px;
    margin-top: 10px;
  }

.order-items{
    min-width: 700px;
    max-height: 100vh;
    overflow: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.order-items::-webkit-scrollbar{
   width: 0.5px;
}
.bill-summery{
    border: 1px solid #151414;
    min-width: 310px;
    max-height: 100vh;
    overflow: auto;
    background-color: #f7f7f7;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
  
  .bill-summery h3 {
    margin-top: 0;
    font-weight: bold;
    color: #333;
  }
  
  .summery {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    width: 100%;
  }
  .summeryrows:last-child{
    border-top: 2px dotted black;
    margin-top: 20px;
  }
  .summeryrows{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #000;
    width: 100%;
    position: relative;

  }

  .order-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    overflow: hidden; /* Add this line */
  }
  
  .order-item span {
    overflow: hidden; /* Add this line */
    text-overflow: ellipsis; /* Add this line */
    white-space: nowrap; /* Add this line */
  }

  .add-btn{
    background-color: #009688;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  .search-input{
     width: 200px;
     height: 30px;
     border: 1px solid #ccc;
     border-radius: 5px;
     padding: 5px;
     margin-top: 10px;
     margin-right: 10px;
     margin-bottom: 10px;
     font-size: 14px;
     font-weight: bold;
     color: #333;
     background-color: #f9f9f9;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     outline: none;
     text-align: center;
     text-decoration: none;
     display: inline-block; 
  }
.quantities{
    display: flex;        /* Display items in a row */
    align-items: center;  /* Center vertically */
    justify-content: space-between; /* Distribute space evenly */
    width: 100px;         /* Adjust width to prevent overflow */
    margin-right: 10px; 
    }
.add-btn{
    margin: 5px;
}

.clear-btn{
    margin-top:25px;
    background-color: #009688;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    position: relative;

}