.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}



.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: hidden; /* added this to prevent main-content from scrolling */

}
.bottom{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}
.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}


.inventoryarea{
    border: 1px red;
    height: 100%;
    width: 100%;
}

